* {
    margin: 0px;
    padding: 0px;
}

.ground {
    background: linear-gradient(rgba(5,255,0,1) 0%, rgba(0,116,25,1) 100%);
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.top {
    display: flex;
    justify-content: space-between;
}

.dandygarden {
    padding: 1em;
    margin-top: 1em;
    margin-right: 5.5em;
    color: rgb(0, 91, 0);
    text-shadow: 1px 1px yellow;
    
}

.points {
    background-color: green;
    color: white;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: fit-content;
    border-radius: 5px;
    margin-top: 1em;
    margin-left: 1em;
}

.add-plant-button {
    padding: 1em;
    background-color: green;
    color: white;
    margin-left: 1em;
    margin-top: 1em;
    border: solid 2px rgb(5, 97, 5);
    border-radius: 5px;
    font-weight: bold;
}

.add-plant-button:hover {
    cursor: pointer;
    background-color:rgb(229 255 109);
    border: solid 2px rgb(5, 97, 5);
    color: black;
    font-weight: bold;
}

.cactus-pic {
    position: absolute;
    top: 150px;;
    left: 1em;
    cursor: move;
}

.pink-pic {
    position: absolute;
    top: 50px;
    left: 1em;
    cursor: move;
}

.whole-pink {
    position: absolute;
}

.sunflower-pic {
    position: absolute;
    top: 250px;
    left: 1em;
    cursor: move;
}

  /* Popup style */
  .popup-box {
    position: fixed;
    z-index: 99999;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }

  .store {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .product {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .flower-name {
    font-size: 18px;
    font-weight: bold;
  }

  .flower-points {
    font-size: 14px;
  }

  .buy-button {
    padding: .5em;
    background-color: green;
    color: white;
    border: solid 2px rgb(5, 97, 5);
    border-radius: 5px;
    font-weight: bold;
  }

  .buy-button:hover {
    cursor: pointer;
    background-color:rgb(83, 218, 124);
    border: solid 2px rgb(5, 97, 5);
    color: black;
  }

  button:disabled,
  button[disabled]{
    border: 2px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  button:disabled:hover,  button[disabled]:hover {
    border: 2px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }

  .popup-description {
    margin-top: .5em;
  }

  .how-to-div {
    float: right;
    margin-top: 1em;
    margin-right: 2em;
    padding: 2em;
    background-color:rgb(229 255 109);
    border: 1px solid green;
    border-radius: 10px;
  }

  .how-to-title {
    text-align: center;
    margin-bottom: 1.5em
  }

  .how-to-bullets {
    margin-left: 1em;
  }
  .how-to-bullets li {
    line-height: 2em;
  }