* {
    margin: 0px;
    padding: 0px;
}

.ground {
    background-color: lightgreen;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.top {
    display: flex;
    justify-content: space-between;
}

.dandygarden {
    padding: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

.points {
    background-color: green;
    color: white;
    padding: 1em;
    width: fit-content;
    border-radius: 5px;
    margin-top: 1em;
    margin-left: 1em;
}